

body {
    background: black;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

header {
    margin-bottom: 50px;
}

header img {
    margin-top: 40px;
    width: 150px;
}

header h2 {
    font-weight: 400;
    font-size: 32px;
    line-height: 37.5px;
    margin-top: 20px;
}

.input-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.input-group input {
    border-radius: 14px;
    width: 210px;
    height: 45px;
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.2);
    font-weight: 500;
    font-size: 20px;
    line-height: 46.88px;
    color: #FFFFFF;
    padding-left: 10px;
    margin: 0 10px;
    opacity: 0.7;
    
}

.input-group input::-webkit-outer-spin-button,
.input-group input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.input-group p {
    font-weight: 400;
    font-size: 25px;
    line-height: 37.5px;
    color: #FFFFFF;
}

button {
    border-radius: 10px;
    width: 210px;
    height: 45px;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #AEC346;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
}

button:hover {
    box-shadow: 0px 18px 40px rgba(174, 195, 70, 0.35);
    opacity: 0.9;
}

button:active {
    opacity: 0.8;
}
